#outerbox
{
	width: 1135px;
	height: 650px;
	overflow: hidden;
}
#sliderbox
{
	position: relative;
	width: 5675px;
	animation-name: slide;
	animation-duration: 25s;
	animation-iteration-count: infinite;
}
#sliderbox img
{
	width: 1135px;
	float: left;
}
@keyframes slide
{
	0%
	{
		left: 0px;
	}
	20%
	{
		left: 0px;
	}
	25%
	{
		left: -1135px;
	}
	36%
	{
		left: -1135px;
	}
	40%
	{
		left: -2270px;
	}
	56%
	{
		left: -2270px;
	}
	60%
	{
		left: -3405px;
	}
	76%
	{
		left: -3405px;
	}
	80%
	{
		left: -4540px;
	}
	96%
	{
		left: -4540px;
	}
	100%
	{
		left: -5675px;
	}
}